body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #181818;
  color: white;
}

.dashboard-container {
  padding: 20px;
}

.titulo {
  color: #873dc9;
  font-size: 3rem;
  font-weight: bold;
}

.acciones {
  margin: 20px 0;
  display: flex;
  gap: 10px;
}

input[type="text"] {
  padding: 8px;
  border-radius: 5px;
  border: none;
}

button {
  padding: 8px 12px;
  background-color: #873dc9;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.lista-usuarios {
  list-style: none;
  padding: 0;
}

.usuario-item {
  margin-bottom: 15px;
  background-color: #2a2a2a;
  padding: 10px;
  border-radius: 8px;
}

.usuario-header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.usuario-detalles {
  margin-top: 8px;
}
